@model IEnumerable<ExamThesis.Storage.Model.Question>
@{
    ViewData["Title"] = "Index";
}


<h2>Questions and Answers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.QuestionText</td>
                <td>
                    <ul>
                        @foreach (var answer in question.Answers)
                        {
                            <li>@answer.Text (Correct: @answer.IsCorrect)</li>
                        }
                    </ul>
                </td>
                <td>
                    @question.QuestionCategoryId
                </td>
                <td>
                    <a asp-controller="QuestionCreate" asp-action="Details" asp-route-id="@question.QuestionId" class="btn btn-info">Details</a>
                </td>
                <td>
                    <a asp-controller="QuestionCreate" asp-action="Delete" asp-route-id="@question.QuestionId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="QuestionCreate" asp-action="Create" class="btn btn-primary">Create Questions and Answers</a>