@model ExamThesis.Models.CreateExam
@using ExamThesis.Storage.Model
@{
    ViewData["Title"] = "Create Exam";
}

<h2>Create Exam</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ExamName" class="control-label">Όνομα Εξέτασης:</label>
        <input asp-for="ExamName" class="form-control" />
        <span asp-validation-for="ExamName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartTime" class="control-label">Έναρξη:</label>
        <input asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndTime" class="control-label">Λήξη:</label>
        <input asp-for="EndTime" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalPoints" class="control-label">Συνολικοί Πόντοι:</label>
        <input asp-for="TotalPoints" class="form-control" />
        <span asp-validation-for="TotalPoints" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PassGrade" class="control-label">Ελάχιστη Βάση Εξέτασης:</label>
        <input asp-for="PassGrade" class="form-control" />
        <span asp-validation-for="PassGrade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label  class="control-label">Επιλογή Κατηγοριών Ερωτήσεων:</label>
        <div id="answers-container">
            @for (var i = 0; i < Model.SelectedCategories.Count; i++)
            {
                var currentcategory =Model.SelectedCategories[i];

               @*  <div class="form-group">
                    <input type="checkbox" asp-for="SelectedCategories[]"
                           name="@currentcategory.QuestionCategoryName"> @currentcategory.QuestionCategoryName

                </div> *@
                <div class="form-group">

                    
                        <input type="checkbox" asp-for="SelectedCategories[i].IsChecked"  />
                        @currentcategory.QuestionCategoryName
                        <input id="@currentcategory.QuestionCategoryId" asp-for="SelectedCategories[i].QuestionCategoryId" type="hidden" value="@currentcategory.QuestionCategoryId"/>
                    <input id="@currentcategory.QuestionCategoryName" asp-for="SelectedCategories[i].QuestionCategoryName" type="hidden" value="@currentcategory.QuestionCategoryName" />
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
