@model IEnumerable<ExamThesis.Storage.ExamQuestionViewModel>

<div class="container">
<h2>Exam Questions</h2>

    <form method="post" action="@Url.Action("Submit", new { id = ViewBag.ExamId })">
        <input type="hidden" name="userId" value="@ViewBag.UserId" />
        <div class="p-3">
            <p>Χρόνος απομένων: <span id="timer"></span></p>
        </div>
        <input type="hidden" name="examId" value="@ViewBag.ExamId" />
        @foreach (var question in Model)
        {
            <div>
                <a href="@Url.Action("Download", "QuestionPackage", new { id = question.PackageId })">
                    <button type="button" class="btn btn-primary">Download File</button>
                </a>
            </div>
             <div class="card mb-3">
                 <div class="card-body">
                     <h6 class="card-title">@question.QuestionText</h6>
                    <button type="button" class="btn btn-sm btn-secondary clear-radio">Clear</button>
                     <br />
                     <div class="row">
                         @foreach (var answer in question.Answers)
                         {
                             <div class="col-md-4 mb-3">
                                <div class="form-check ">
                                    <input class="form-check-input answer-checkbox" type="checkbox" id="answer_@answer.Id" name="selectedAnswers" value="@answer.Id" data-question-id="@question.QuestionId">
                                    <label class="form-check-label" for="answer_@answer.Id">@answer.Text</label>
                                   
                                 </div>
                             </div>
                         }
                     </div>
                 </div>
             </div>
            
             <input type="hidden" name="selectedQuestions" value="@question.QuestionId"/>
        }
    <div style="clear:both"></div>
         <button type="submit" class="btn btn-primary">Submit Answers</button>
     </form>
     </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.answer-checkbox').change(function () {
            // Απενεργοποίηση όλων των άλλων checkboxes με το ίδιο data-question-id
            var questionId = $(this).data('question-id');
            $('.answer-checkbox[data-question-id="' + questionId + '"]').not(this).prop('checked', false);
        });
    });
</script>
</script>
    


